{# templates/usuario/dados.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Usuário :: Dados{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><i class="bi bi-person-circle"></i> Usuario</li>
    <li class="breadcrumb-item active"><i class="bi bi-file-person"></i> Dados</li>
    {% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'data-loading': 'true'}}) }}
    <div class="card shadow-sm">
        <div class="card-header bg-gradient">
            <h1 class="h4 m-0"><i class="bi bi-file-person"></i> Dados</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        {{ form_label(form.nome) }}
                        <div class="input-group">
                            <div class="input-group-text"><i class="bi bi-person"></i></div>
                            {{ form_widget(form.nome) }}
                        </div>
                        {{ form_errors(form.nome) }}
                        {{ form_help(form.nome) }}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        {{ form_label(form.email) }}
                        <div class="input-group">
                            <div class="input-group-text"><i class="bi bi-envelope-at"></i></div>
                            {{ form_widget(form.email) }}
                        </div>
                        {{ form_errors(form.email) }}
                        {{ form_help(form.email) }}
                    </div>
                </div>
            </div>
        </div>
        {{ include('_formFooter.html.twig', {'voltar': path('app_index')}) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
