{# templates/bolao_aposta/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Bolão :: Apostas{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a data-loading="true" href="{{ path('app_bolao_index') }}" class="text-decoration-none"><i class="fa-regular fa-futbol"></i> Bolão</a></li>
    <li class="breadcrumb-item active"><i class="bi bi-ticket-perforated-fill"></i> Apostas</li>
    {% endblock %}

{% block body %}
    <div class="card shadow-sm">
        <div class="card-header">
            <h1 class="h4 m-0"><i class="bi bi-ticket-perforated"></i> Apostas</h1>
        </div>        
        {{ include('bolao/_bolao.html.twig') }}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Dezenas</th>
                            <th>Conferida</th>
                            <th>Quantidade de acertos</th>
                            <th>Atualização</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for aposta in apostas %}
                            <tr>
                                <td class="text-end">{{ aposta.dezenas|join(', ') }}</td>
                                <td class="text-center">{{ aposta.conferida ? 'Sim' : 'Não' }}</td>
                                {% if aposta.quantidadeAcertos is not null %}
                                    <td class="text-end">{{ aposta.quantidadeAcertos }}</td>
                                {% else %}
                                    <td>Não apurado</td>
                                {% endif %}
                                <td class="text-end">{{ aposta.updatedAt ? aposta.updatedAt|date('d/m/Y H:i') : aposta.createdAt|date('d/m/Y H:i') }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4" class="text-center">Nenhum registro encontrado</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <select class="form-select form-select-sm" aria-label="Quantidade de registro por página">
                        <option selected>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                </div>
                <nav aria-label="Paginação">
                    <ul class="pagination justify-content-center pagination-sm m-0">
                        <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#">Próximo</a></li>
                    </ul>
                </nav>
                <div>
                    {{ apostas.count }} registro(s) encontrado(s).
                </div>
            </div>
        </div>
    </div>
{% endblock %}
