{# templates/loteria/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Loteria :: Alterar {% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a data-loading="true" href="{{ path('app_loteria_index') }}" class="text-decoration-none"><i class="fa-solid fa-clover icon-rotate-45"></i> Loterias</a></li>
    <li class="breadcrumb-item active"><i class="bi bi-pencil-square"></i> Alterar</li>
{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'data-loading': 'true'}}) }}
    <div class="card shadow-sm">
        <div class="card-header bg-gradient">
            <h1 class="h4 m-0"><i class="fa-solid fa-clover icon-rotate-45"></i> Alterar Loteria</h1>
        </div>
        <div class="card-body">
            {{ include('loteria/_form.html.twig') }}
        </div>
        {{ include('_formFooter.html.twig', {'voltar': path('app_loteria_index')}) }}
    {{ form_end(form) }}
{% endblock %}
