{# templates/loteria/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Loteria{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><i class="fa-solid fa-clover icon-rotate-45"></i> Loteria</li>
    {% endblock %}

{% block body %}
    <div class="card shadow-sm">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h1 class="h4 m-0"><i class="fa-solid fa-clover icon-rotate-45"></i> Loteria</h1>
                </div>
                <div>
                    <a data-loading="true" href="{{ path('app_loteria_new') }}" class="btn btn-secondary btn-sm bg-gradient shadow-sm">
                        <i class="bi bi-plus"></i> Novo
                    </a>
                </div>
            </div>
        </div>        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>Nome</div>
                                    <div><i class="bi bi-sort-alpha-down"></i></div>
                                </div>
                            </th>
                            <th class="d-none d-xl-table-cell">Slug</th>
                            <th class="d-none d-xl-table-cell">API</th>
                            <th class="d-none d-xl-table-cell">Atualização</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for loteria in loterias %}
                            <tr>
                                <td>{{ loteria.nome }}</td>
                                <td class="d-none d-xl-table-cell">{{ loteria.slugUrl }}</td>
                                <td class="d-none d-xl-table-cell">{{ loteria.apiUrl }}</td>
                                <td class="text-end d-none d-xl-table-cell">{{ loteria.updatedAt ? loteria.updatedAt|date('d/m/Y H:i', 'America/Sao_Paulo') : loteria.createdAt|date('d/m/Y H:i', 'America/Sao_Paulo') }}</td>
                                <td class="text-center">
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Ações">
                                        <a data-loading="true" role="button" class="btn btn-sm btn-secondary" href="{{ path('app_loteria_edit', {'uuid': loteria.uuid}) }}">
                                            <i class="bi bi-pencil-fill"></i> <span class="d-none d-xl-inline-block">Alterar</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7" class="text-center">Nenhum registro encontrado</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {{ include('_tableFooter.html.twig', {'paginacao': loterias}) }}
    </div>
{% endblock %}
