{% if is_granted('IS_AUTHENTICATED') %}
    <li class="nav-item">
        <a data-loading="true" class="nav-link{% if app.request.get('_route') starts with 'app_bolao' %} active{% endif %}" href="{{ path('app_bolao_index') }}">
            <i class="fa-regular fa-futbol"></i> Bolão
        </a>
    </li>
    <li class="nav-item">
        <a data-loading="true" class="nav-link{% if app.request.get('_route') starts with 'app_concurso' %} active{% endif %}" href="{{ path('app_concurso_index') }}">
            <i class="bi bi-suit-club-fill"></i> Concurso
        </a>
    </li>
    {% if is_granted('ROLE_ADMIN') %}
    <li class="nav-item">
        <a data-loading="true" class="nav-link{% if app.request.get('_route') starts with 'app_loteria' %} active{% endif %}" href="{{ path('app_loteria_index') }}">
            <i class="fa-solid fa-clover icon-rotate-45"></i> Loteria
        </a>
    </li>
    {% endif %}
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle pb-0 pt-1" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <img src="{{ gravatarUrl(app.user.email, 32) }}" class="border border-loteria rounded-circle mx-1" alt="{{ app.user.nome }}"> {{ app.user.nome }}
        </a>
        <ul class="dropdown-menu dropdown-menu-dark border-loteria bg-loteria shadow dropdown-menu-lg-end">
            <li>
                <a class="dropdown-item" href="{{ path('app_usuario_dados') }}">
                    <i class="bi bi-file-person-fill"></i> Alterar dados do usuário
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ path('app_usuario_senha') }}">
                    <i class="bi bi-key-fill"></i> Alterar senha
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ path('app_logout') }}">
                    <i class="bi bi-door-open-fill"></i> Sair
                </a>
            </li>          
        </ul>
    </li>
{% else %}
    <li class="nav-item">
        <a data-loading="true" class="nav-link{% if app.request.get('_route') starts with 'app_login' %} active{% endif %}" href="{{ path('app_login_index') }}">
            <i class="bi bi-door-closed"></i> Entrar
        </a>
    </li>
    <li class="nav-item">
        <a data-loading="true" class="nav-link{% if app.request.get('_route') starts with 'app_inscricao' %} active{% endif %}" href="{{ path('app_inscricao_index') }}">
            <i class="bi bi-person-plus"></i> Inscreva-se
        </a>
    </li>
{% endif %}    