{# template/_tableFooter.html.twig #}
<div class="card-footer">
    <div class="row">
        <div class="col-12 col-sm-4">
            <select name="registros-por-pagina" id="registros-por-pagina" class="form-select form-select-sm" aria-label="Quantidade de registro por página">
                <option value="10"{{ app.request.query.get('registros-por-pagina') == 10 ? ' selected' : '' }}>10</option>
                <option value="25"{{ app.request.query.get('registros-por-pagina') == 25 ? ' selected' : '' }}>25</option>
                <option value="50"{{ app.request.query.get('registros-por-pagina') == 50 ? ' selected' : '' }}>50</option>
                <option value="100"{{ app.request.query.get('registros-por-pagina') == 100 ? ' selected' : '' }}>100</option>
            </select>
        </div>
        <div class="col-12 col-sm-4 text-center">
            <nav aria-label="Paginação">
                <ul class="pagination justify-content-center pagination-sm m-0">
                    <li class="page-item disabled"><a class="page-link" href="#"><i class="bi bi-chevron-compact-left"></i> Anterior</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">Próximo <i class="bi bi-chevron-compact-right"></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="col-12 col-sm-4 text-sm-end text-center">
            {{ registros|number_format(0, ',', '.') }} registro(s) encontrado(s).
        </div>
    </div>
</div>
