{# template/_tableFooter.html.twig #}
<div class="card-footer">
    <div class="row">
        <div class="col-12 col-sm-2">
            <select name="registros-por-pagina" id="registros-por-pagina" class="form-select form-select-sm" aria-label="Quantidade de registro por página"{{ paginacao is not empty or paginacao.count == 0 ? ' disabled' }}>
                <option value="10"{{ app.request.query.get('registros-por-pagina') == 10 ? ' selected' : '' }}>10</option>
                <option value="25"{{ app.request.query.get('registros-por-pagina') == 25 ? ' selected' : '' }}>25</option>
                <option value="50"{{ app.request.query.get('registros-por-pagina') == 50 ? ' selected' : '' }}>50</option>
                <option value="100"{{ app.request.query.get('registros-por-pagina') == 100 ? ' selected' : '' }}>100</option>
            </select>
        </div>
        <div class="col-12 col-sm-7 text-center">
            <nav aria-label="Paginação">
                <ul class="pagination justify-content-center pagination-sm m-0">
                                        
                    {% if paginacao is empty or paginacao.blocoPrimeiro %}
                        <li class="page-item disabled" aria-current="page">
                            <button type="button" class="page-link" title="Bloco anterior de páginas"><i class="bi bi-chevron-double-left"></i></button>
                        </li>
                    {% else %}
                        <li class="page-item" aria-current="page">
                            <button type="button" class="page-link" title="Bloco anterior de páginas" data-pagina="{{ min(paginacao.paginas) - 1 }}"><i class="bi bi-chevron-double-left"></i></button>
                        </li>
                    {% endif %}
                    
                    {% if paginacao is empty or paginacao.paginaPrimeira %}
                        <li class="page-item disabled">
                            <button type="button" class="page-link" title="Página anterior"><i class="bi bi-chevron-compact-left"></i> Anterior</button>
                        </li>                            
                    {% else %}
                        <li class="page-item">
                            <button type="button" class="page-link" title="Página anterior" data-pagina="{{ paginacao.paginaAnterior }}"><i class="bi bi-chevron-compact-left"></i> Anterior</button>
                        </li>
                    {% endif %}    
                    
                    {% if paginacao is empty or paginacao.paginas is empty %}
                        <li class="page-item disabled" aria-current="page">
                            <button type="button" class="page-link">1</button>
                        </li>
                    {% else %}
                        {% for i in paginacao.paginas %}
                            <li class="page-item {{ (i == paginacao.paginaAtual) ? "active" }}" aria-current="page">
                                <button type="button" class="page-link" title="Vai para a página {{ i }}" data-pagina="{{ i }}">{{ i }}</button>
                            </li>
                        {% endfor %}
                    {% endif %}
                    
                    {% if paginacao is empty or paginacao.paginaUltima %}                                                
                        <li class="page-item disabled">
                            <button type="button" class="page-link" title="Próxima página">Próximo <i class="bi bi-chevron-compact-right"></i></button>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <button type="button" class="page-link" title="Próxima página" data-pagina="{{ paginacao.paginaProxima }}">Próximo <i class="bi bi-chevron-compact-right"></i></button>
                        </li>
                    {% endif %}
                    
                    {% if paginacao is empty or paginacao.blocoUltimo %}
                        <li class="page-item disabled" aria-current="page">
                            <button type="button" class="page-link" title="Próximo bloco de páginas"><i class="bi bi-chevron-double-right"></i></button>
                        </li>
                    {% else %}
                        <li class="page-item" aria-current="page">
                            <button type="button" class="page-link" title="Próximo bloco de páginas" data-pagina="{{ max(paginacao.paginas) + 1 }}"><i class="bi bi-chevron-double-right"></i></button>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="col-12 col-sm-3 text-sm-end text-center">
            {{ paginacao.count|default(0)|number_format(0, ',', '.') }} registro(s) encontrado(s).
        </div>
    </div>
</div>
