{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}" data-bs-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="generator" content="">
        
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
        
        <title>{% block title %}Loteria{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('app.css', 'css') }}" rel="stylesheet">
            <link href="{{ asset('css/bootstrap.min.css', 'bootstrap') }}" rel="stylesheet">
            <link href="{{ asset('font/bootstrap-icons.min.css', 'bootstrap-icon') }}" rel="stylesheet">            
        {% endblock %}
        {% block javascripts_header %}

            <script type="text/javascript">
                const BASE_URL = "{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}";
            </script>
        {% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        <header class="mb-3">
            <nav id="menu" class="navbar navbar-expand-lg bg-loteria">
                <div class="container-fluid">
                    <a class="navbar-brand navbar-bg-loteria" href="{{ path('app_index') }}">
                        <i class="fa-solid fa-clover"></i> Loteria
                    </a>
                    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Navigation menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarMenu">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            {% include '_menu.html.twig' %}
                        </ul>
                    </div>
                </div>
            </nav>
            <nav id="breadcrumb" aria-label="breadcrumb" class="bg-loteria-secondary shadow border-bottom border-loteria" style="--bs-breadcrumb-divider: '>';">
                <ol class="breadcrumb m-0 p-2">
                    <li class="breadcrumb-item"><a href="{{ path('app_index') }}" class="text-decoration-none"><i class="bi bi-house-fill"></i> Página inicial</a></li>
                    {% block breadcrumb %}{% endblock %}
                </ol>
            </nav>
        </header>
        <main class="mb-3">
            <div class="container-fluid">
                {% include '_flash.html.twig' %}
            </div>
            <div class="container-fluid">
                {% block body %}{% endblock %}
            </div>
        </main>
        <footer class="mt-auto bg-loteria text-loteria">
            <nav class="navbar navbar-expand-lg sticky-bottom">
                <div class="container-fluid justify-content-end">
                    <div class="text-end text-light">
                        <small>{% if 'dev' in app.request.server.get('APP_VERSION') %}<i class="bi bi-bookmark"></i>{% else %}<i class="bi bi-bookmark-fill"></i>{% endif %} Versão: {{ app.request.server.get('APP_VERSION') }}</small>
                    </div>
                </div>
            </nav>
        </footer>
        {% block javascripts_footer %}
            
            <script src="{{ asset('jquery-3.7.1.min.js', 'jquery') }}"></script>
            <script src="{{ asset('js/bootstrap.bundle.min.js', 'bootstrap') }}"></script>
            <script type="text/javascript" src="https://kit.fontawesome.com/403477f2af.js" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
