{# templates/bolao_apostador/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Bol達o :: Apostador :: Importar {% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a data-loading="true" href="{{ path('app_bolao_index') }}" class="text-decoration-none"><i class="fa-regular fa-futbol"></i> Bol達o</a></li>
    <li class="breadcrumb-item"><a data-loading="true" href="{{ path('app_bolao_apostador_index', {'uuid': bolao.uuid}) }}" class="text-decoration-none"><i class="bi bi-people-fill"></i> Apostadores</a></li>
    <li class="breadcrumb-item"><a data-loading="true" href="{{ path('app_bolao_apostador_importar_apostadores_selecionar_bolao', {'uuid': bolao.uuid}) }}" class="text-decoration-none"><i class="bi bi-person-down"></i> Importar apostadores :: Bol達o</a></li>
    <li class="breadcrumb-item active"><i class="bi bi-person-down"></i> Importar apostadores</li>
    {% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'data-loading': 'true'}}) }}
    <div class="card shadow-sm">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h1 class="h4 m-0"><i class="bi bi-person-down"></i> Importar apostadores</h1>
                </div>
            </div>
        </div>        
        {{ include('bolao/_bolao.html.twig') }}
        
        <div class="card-body border-bottom text-bg-light">
            <div class="mb-3">
                <label for="bolaoSelecionado" class="form-label">Nome do bol達o selecionado</label>
                <div class="input-group">
                    <span class="input-group-text" id="bolao-icone"><i class="fa-regular fa-futbol"></i></span>
                    <input disabled readonly type="text" class="form-control" id="bolaoSelecionado" value="{{ bolaoSelecionado.nome }}" aria-label="{{ bolaoSelecionado.nome }}">
                    <a class="btn btn-secondary bg-gradient" type="button" href="{{ path('app_bolao_apostador_importar_apostadores_selecionar_bolao', {'uuid': bolao.uuid}) }}">Alterar</a>
                </div>
            </div>
        </div>
                
        <div class="card-body">
            <h5 class="card-title">Apostadores</h5>
            <a href="#" class="btn btn-sm btn-secondary" id="toggle-apostadores">Marcar todos</a>
            {{ form_row(form.apostador) }}
        </div>
        <div class="card-footer bg-gradient d-flex justify-content-between">
            <div>
                <a data-loading="true" class="btn btn-outline-secondary bg-gradient btn-sm shadow" href="{{ path('app_bolao_apostador_importar_apostadores_selecionar_bolao', {'uuid': bolao.uuid}) }}"><i class="bi bi-arrow-left"></i> Voltar</a>
            </div>
            <div>
                <button type="submit" class="btn btn-primary bg-gradient btn-sm shadow">Importar <i class="bi bi-box-arrow-in-down"></i></button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts_footer %}
    {{ parent() }}
    
    <script src="{{ asset('js/bolao-apostador/importar-apostadores-selecionar-apostadores.js') }}"></script>
{% endblock %}
