{# templates/bolao_apostador/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Bolão :: Apostador{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a data-loading="true" href="{{ path('app_bolao_index') }}" class="text-decoration-none"><i class="fa-regular fa-futbol"></i> Bolão</a></li>
    <li class="breadcrumb-item active"><i class="bi bi-people-fill"></i> Apostadores</li>
    {% endblock %}

{% block body %}
    <div class="card shadow-sm">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h1 class="h4 m-0"><i class="bi bi-people-fill"></i> Apostadores</h1>
                </div>
                {% if is_granted('BOLAO_APOSTADOR_NEW', bolao) %}
                    <div>
                        <a data-loading="true" href="{{ path('app_bolao_apostador_exportar', {'uuid': bolao.uuid}) }}" class="btn btn-secondary btn-sm bg-gradient shadow-sm">
                            <i class="bi bi-cloud-download-fill" title="Exportar apostadores para planilha"></i> <span class="d-none d-sm-inline-block">Exportar</span>
                        </a>
                        <a data-loading="true" href="{{ path('app_bolao_apostador_importar_apostadores_selecionar_bolao', {'uuid': bolao.uuid}) }}" class="btn btn-secondary btn-sm bg-gradient shadow-sm">
                            <i class="bi bi-person-down" title="Importar apostadores de outro bolão"></i> <span class="d-none d-sm-inline-block">Importar apostadores</span>
                        </a>
                        <a data-loading="true" href="{{ path('app_bolao_apostador_new', {'uuid': bolao.uuid}) }}" class="btn btn-secondary btn-sm bg-gradient shadow-sm">
                            <i class="bi bi-plus" title="Novo apostador"></i> <span class="d-none d-sm-inline-block">Novo</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>        
        {{ include('bolao/_bolao.html.twig') }}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>Nome</div>
                                    <div><i class="bi bi-sort-alpha-down"></i></div>
                                </div>
                            </th>
                            <th class="d-none d-xl-table-cell">E-mail</th>
                            <th class="d-none d-xl-table-cell">Cota paga</th>
                            <th class="d-none d-xl-table-cell">Cotas</th>
                            <th class="d-none d-xl-table-cell">Atualizado</th>
                            <th class="text-center d-print-none">Ações</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for apostador in apostadores %}
                            <tr>
                                <td>{{ apostador.nome }}</td>
                                <td class="d-none d-xl-table-cell">{{ apostador.email }}</td>
                                <td class="d-none d-xl-table-cell">{{ apostador.cotaPaga ? 'Sim' : 'Não' }}</td>
                                <td class="text-end d-none d-xl-table-cell">{{ apostador.cotaQuantidade }}</td>
                                <td class="text-end d-none d-lg-table-cell">{{ apostador.updatedAt ? apostador.updatedAt|date('d/m/Y H:i', 'America/Sao_Paulo') : apostador.createdAt|date('d/m/Y H:i', 'America/Sao_Paulo') }}</td>
                                <td class="text-center d-print-none">
                                    {% if is_granted('BOLAO_APOSTADOR_EDIT', apostador) %}
                                        <a data-loading="true" role="button" class="btn btn-sm btn-secondary" href="{{ path('app_bolao_apostador_edit', {'uuid': apostador.uuid}) }}">
                                            <i class="bi bi-pencil-fill"></i> <span class="d-none d-xl-inline-block">Alterar</span>
                                        </a>
                                    {% endif %}
                                    {% if apostador.comprovantePagamento %}
                                        <a data-loading="true" role="button" target="_blank" class="btn btn-sm btn-secondary" href="{{ path('app_bolao_apostador_comprovante_download', {'uuid': apostador.comprovantePagamento.uuid}) }}">
                                            <i class="bi bi-filetype-jpg"></i> <span class="d-none d-xl-inline-block">Comprovante</span>
                                        </a>
                                    {% endif %}
                                    {% if is_granted('BOLAO_APOSTADOR_DELETE', apostador) %}
                                        <button type="button" class="btn btn-sm btn-danger" data-delete="{{ apostador.uuid }}">
                                            <i class="bi bi-trash"></i> <span class="d-none d-xl-inline-block">Excluir</span>
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6" class="text-center">Nenhum registro encontrado</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {{ include('_tableFooter.html.twig', {'paginacao': apostadores}) }}

    </div>
    {{ include('_delete.html.twig', {'deleteAction': path('app_bolao_apostador_delete')}) }}
{% endblock %}
