{# templates/bolao/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Bolão{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><i class="fa-regular fa-futbol"></i> Bolão</li>
    {% endblock %}

{% block body %}
    <div class="card shadow-sm">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div><h1 class="h4 m-0"><i class="fa-regular fa-futbol"></i> Bolão</h1></div>
                <div>
                    <a data-loading="true" href="{{ path('app_bolao_new') }}" class="btn btn-secondary btn-sm bg-gradient shadow-sm">
                        <i class="bi bi-plus"></i> Novo
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Bolão</th>
                            <th>Loteria</th>
                            <th>Concurso</th>
                            <th>Apuração</th>
                            <th class="d-none d-md-table-cell">Apostas</th>
                            <th class="d-none d-md-table-cell">Apostadores</th>
                            <th class="d-none d-md-table-cell">Maior acerto em aposta</th>
                            <th class="text-center d-print-none">Ações</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for item in boloes %}
                            {% set bolao = item[0] %}
                            <tr>
                                <td>{{ bolao.nome }}</td>
                                <td>{{ bolao.concurso.loteria.nome }}</td>
                                <td class="text-end">{{ bolao.concurso.numero }}</td>
                                {% if bolao.concurso.apuracao %}
                                    <td class="text-end">{{ bolao.concurso.apuracao|date('d/m/Y') }}</td>
                                {% else %}
                                    <td class="text-start">Não apurado</td>
                                {% endif %}
                                <td class="text-end d-none d-md-table-cell">{{ item.apostas|number_format(0, ',', '.') }}</td>
                                <td class="text-end d-none d-md-table-cell">{{ item.apostadores|number_format(0, ',', '.') }}</td>
                                <td class="text-end d-none d-md-table-cell">{{ item.apostasMax|number_format(0, ',', '.') }}</td>
                                <td class="text-center p-0 align-middle d-print-none">
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Ações">
                                        <a data-loading="true" role="button" class="btn btn-sm btn-secondary" href="{{ path('app_bolao_apostas_index', {'uuid': bolao.uuid}) }}">
                                            <i class="bi bi-ticket-perforated-fill"></i> <span class="d-none d-xl-inline-block">Apostas</span>
                                        </a>
                                        <a data-loading="true" role="button" class="btn btn-sm btn-secondary" href="{{ path('app_bolao_apostador_index', {'uuid': bolao.uuid}) }}">
                                            <i class="bi bi-people-fill"></i> <span class="d-none d-xl-inline-block">Apostadores</span>
                                        </a>
                                            
                                        {% if bolao.comprovanteJogosPdf %}
                                            <a role="button" target="_blank" class="btn btn-sm btn-secondary" href="{{ path('app_bolao_comprovante_download', {'uuid': bolao.uuid}) }}">
                                                <i class="bi bi-filetype-jpg"></i> <span class="d-none d-xl-inline-block">Comprovante</span>
                                            </a>
                                        {% endif %}
                                        
                                        {% if bolao.planilhaJogosCsv %}
                                            <a role="button" target="_blank" class="btn btn-sm btn-secondary" href="{{ path('app_bolao_planilha_download', {'uuid': bolao.uuid}) }}">
                                                <i class="bi bi-filetype-csv"></i> <span class="d-none d-xl-inline-block">Planilha</span>
                                            </a>
                                        {% endif %}
                                            
                                        {% if is_granted('BOLAO_EDIT', bolao) %}
                                            <a data-loading="true" role="button" class="btn btn-sm btn-secondary" href="{{ path('app_bolao_edit', {'uuid': bolao.uuid}) }}">
                                                <i class="bi bi-pencil-fill"></i> <span class="d-none d-xl-inline-block">Alterar</span>
                                            </a>
                                        {% endif %}
                                        <button type="button" class="btn btn-danger" data-delete="{{ bolao.uuid }}">
                                            <i class="bi bi-trash"></i> <span class="d-none d-xl-inline-block">Excluir</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8" class="text-center">Nenhum registro encontrado</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        {{ include('_tableFooter.html.twig', {'registros': boloes.count}) }}
                    
    </div>
    {{ include('_delete.html.twig', {'deleteAction': path('app_bolao_delete')}) }}
{% endblock %}
