{# templates/aposta/importar.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Bolão :: Novo{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a data-loading="true" href="{{ path('app_bolao_index') }}" class="text-decoration-none"><i class="fa-regular fa-futbol"></i> Bolão</a></li>
    <li class="breadcrumb-item active"><i class="bi bi-plus"></i> Novo</li>
{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'data-loading': 'true'}}) }}
    <div class="card shadow-sm">
        <div class="card-header bg-gradient">
            <h1 class="h4 m-0"><i class="bi bi-plus"></i> Novo</h1>
        </div>
        <div class="card-body">
            {{ include('bolao/_form.html.twig') }}
        </div>
        {{ include('_formFooter.html.twig', {'voltar': path('app_bolao_index')}) }}
    {{ form_end(form) }}
{% endblock %}
