{# templates/email/bolao/notificarResultadoBolao.html.twig #}
{% apply inline_css(source('@assets_styles/email.css')) %}
<h1 class="h1">Resultado do bolão</h1>

<p class="label">Nome do bolão</p>
<p class="value">{{ bolao.nome }}</p>

<p class="label">Loteria</p>
<p class="value">{{ bolao.concurso.loteria.nome }}</p>

<p class="label">Concurso</p>
<p class="value">{{ bolao.concurso.numero }}</p>

<p class="label">Apuração</p>
<p class="value">{{ bolao.concurso.apuracao|date('d/m/Y', 'America/Sao_Paulo') }}</p>

<p class="label">Dezenas</p>
<p class="value">{{ bolao.concurso.dezenas|join(', ') }}</p>

<br>

<table class="table"style="min-width: 640px; width: 80%;">
    <thead>
        <tr>
            <th colspan="2"class="table-title text-center bg-verde">Apostas</th>
        </tr>
        <tr class="table-border-bottom">
            <th class="table-title text-center">Dezenas</th>
            <th class="table-title text-center">Quantidade de acertos</th>
        </tr>
    </thead>
    <tbody class="">
        {% for key, aposta in apostas %}
            {% if key is even %}
            <tr class="bg-verde-claro">
            {% else %}
            <tr>        
            {% endif %}
                <td class="text-end">{{ aposta.dezenas|dezenasSorteadas(bolao.concurso.dezenas) }}</td>
                <td class="text-end">{{ aposta.quantidadeAcertos }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr class="table-border-top">
            <th colspan="2" class="text-end bg-verde">{{ apostas|length }} aposta(s).</th>
        </tr>
    </tfoot>
</table>

{% endapply %}