{# templates/concurso/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Concurso{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><i class="bi bi-suit-club-fill"></i> Concurso</li>
    {% endblock %}

{% block body %}
    <div class="card shadow-sm">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div><h1 class="h4 m-0"><i class="bi bi-suit-club-fill"></i> Concurso</h1></div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div>
                        <a data-loading="true" href="{{ path('app_concurso_conferir') }}" class="btn btn-secondary btn-sm bg-gradient shadow-sm">
                            <i class="bi bi-cloud-check"></i> Conferir
                        </a>
                    </div>
                {%  endif %}
            </div>
        </div>
        <div class="card-body border-bottom">
            <div class="mb-3">
                <label for="loteria" class="form-label">Loteria</label>
                <div class="input-group">
                    <span class="input-group-text" id="loteria_icon"><i class="fa-solid fa-clover icon-rotate-45"></i></span>
                    <select name="loteria" id="loteria" class="form-select" aria-label="Loteria" aria-describedby="loteria_icon" autofocus="true">
                        <option value{% if not app.request.get('loteria') %} selected{% endif %}>Selecione uma loteria</option>
                        {% for lot in loterias %}
                            <option value="{{ lot.uuid }}"{% if (loteria) and lot.uuid == loteria.uuid %} selected{% endif %}>{{ lot.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>Concurso</div>
                                    <div><i class="bi bi-sort-numeric-down-alt"></i></div>
                                </div>
                            </th>
                            <th>Apuração</th>
                            <th>Dezenas</th>
                            <th class="d-none d-lg-table-cell">Local</th>
                            <th class="d-none d-lg-table-cell">Município</th>
                            <th class="d-none d-lg-table-cell">UF</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for concurso in concursos %}
                            <tr>
                                <td class="text-end">{{ concurso.numero }}</td>
                                {% if concurso.apuracao %}
                                    <td class="text-end">{{ concurso.apuracao|date('d/m/Y','America/Sao_Paulo') }}</td>
                                {% else %}
                                    <td>Não apurado</td>
                                {% endif %}
                                <td class="text-end">{{ concurso.dezenas|join(', ') }}</td>
                                <td class="d-none d-lg-table-cell">{{ concurso.local }}</td>
                                <td class="d-none d-lg-table-cell">{{ concurso.municipio }}</td>
                                <td class="d-none d-lg-table-cell">{{ concurso.uf }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6" class="text-center">Nenhum registro encontrado</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {{ include('_tableFooter.html.twig', {'paginacao': concursos }) }}

    </div>
{% endblock %}

{% block javascripts_footer %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/concurso/index.js') }}"></script>
{% endblock %}
